.h1{
	position : relative;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}
.img{
	display : block;
	margin-left : 40%;
	margin-right:60% ;
	width : 50%;
}
.body{
	background- color: #e07b39;
}

.aside{
	float : right;
}
.link3{
	font-size: 25;
	color: #060012;
}
