body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
	text-align: center;
}

.Vid {
	padding-bottom: 20px;
	text-align: center;
}

.link1{
	font-weight: bold;
	margin-top:20px;
	font-size: 25;
	color: #060012;
}

a:hover {
position: relative;
top: 2px;
left: 2px;
text-decoration: italic;
}
